<div class="content">
    <div class="settings">
        <div class="BtnsUndu">
            <div class="BtnUndo">
                <a (click)="backCommand()">
                    <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 12H18M6 12L11 7M6 12L11 17" stroke="#000000" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </a>
            </div>
            <div class="BtnUndo">
                <a (click)="upCommand()">
                    <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 12H18M18 12L13 7M18 12L13 17" stroke="#000000" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </a>
            </div>
        </div>
        <div class="card flex justify-content-center">
            <p-accordion [activeIndex]="0">
                <p-accordionTab header="круг">
                    <form [formGroup]="circleForm" class="forms">
                        <label for="x">X:</label>
                        <input type="number" id="x" pInputText formControlName="x" />
                        <label for="y">Y:</label>
                        <input type="number" id="y" pInputText formControlName="y" />
                        <label for="radius">Радиус:</label>
                        <input type="number" id="radius" pInputText formControlName="radius" />
                        <label for="Zindex">Zindex:</label>
                        <input type="number" id="Zindex" pInputText formControlName="Zindex" />
                        <div style="display: flex;">
                            <label for="color">Цвет:</label>
                            <p-colorPicker formControlName="color" id="color"></p-colorPicker>
                        </div>
                        <ng-container *ngIf="!isEditCircle" style="justify-content: center;">
                            <p-button label="Нарисовать" severity="success" (click)="addCircle()"></p-button>
                        </ng-container>
                        <ng-container *ngIf="isEditCircle">
                            <div style="display: flex;">
                                <p-button label="Изменить" (click)="updateCircle()"></p-button>
                                <p-button label="Удалить" severity="danger" (click)="removeComponent()"></p-button>
                            </div>
                        </ng-container>
                    </form>
                </p-accordionTab>
                <p-accordionTab header="Квадрат">
                    <form [formGroup]="squareForm" class="forms">
                        <label for="x">X:</label>
                        <input type="number" id="x" pInputText formControlName="x" />
                        <label for="y">Y:</label>
                        <input type="number" id="y" pInputText formControlName="y" />
                        <label for="sideLength">Длина сторон:</label>
                        <input type="number" id="sideLength" pInputText formControlName="sideLength" />
                        <label for="Zindex">Zindex:</label>
                        <input type="number" id="Zindex" pInputText formControlName="Zindex" />
                        <div style="display: flex;">
                            <label for="color">Цвет:</label>
                            <p-colorPicker formControlName="color" id="color"></p-colorPicker>
                        </div>
                        <ng-container *ngIf="!isEditSquare">
                            <p-button label="Нарисовать" severity="success" (click)="addSquare()"></p-button>
                        </ng-container>
                        <ng-container *ngIf="isEditSquare">
                            <div style="display: flex;">
                                <p-button label="Изменить" (click)="updateSquare()"></p-button>
                                <p-button label="Удалить" severity="danger" (click)="removeComponent()"></p-button>
                            </div>
                        </ng-container>
                    </form>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
    <div class="view">
        <div #circleContainer class="elements">
            <div *ngFor="let component of StoringElementsService.Components">
                <ng-container *ngIf="component.type === 'circle'">
                    <div [ngStyle]="getCircleStyles(component)" [style.background-color]="component.color"
                        (mousedown)="startDrag($event, component)" style="position: absolute;"></div>
                </ng-container>
                <ng-container *ngIf="component.type === 'square'">
                    <div [ngStyle]="getSquareStyles(component)" [style.background-color]="component.color"
                        (mousedown)="startDrag($event, component)" style="position: absolute;"></div>
                </ng-container>
            </div>
        </div>

    </div>
</div>